Import libraries

In [2]:
import numpy as np
import matplotlib.pyplot
import pandas as pd

importa o csv para um pandas dataframe

In [3]:
#Download Datasets: Udemy: https://www.superdatascience.com/machine-learning/
dataset=pd.read_csv("Machine Learning A-Z Template Folder/Part 2 - Regression/Section 6 - Polynomial Regression/Position_Salaries.csv")

ver o dataset

In [4]:
dataset

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [5]:
#importar de data preprocessing template

In [20]:
X = dataset.iloc[:, 1:2].values   #apesar de so apanhar uma coluna, preferivel fazer assim para forcar o X a ser uma matrix e nao um vector
y = dataset.iloc[:, 2].values

In [18]:
X

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10]])